:root {
    --Background-1: #14110f;
    --Background-2: #34312d;
    --Complemento-1: #7e7f83;
    --Complemento-2: yellow;
    --Texto-1: #f3f3f4;
    --Texto-2: #d9c5b2;
    --Boton-1: green;
    --Boton-1-Texto: white;
}